# App
NODE_ENV=development
PORT=3000
FRONTEND_URL=http://localhost:5173

# Base de datos PostgreSQL local (sin Docker)
# Crear la DB manualmente: createdb gestordoc
DATABASE_URL=postgresql://postgres:1122@localhost:5433/gestordoc


# Redis local (sin Docker)
REDIS_URL=redis://localhost:6379

# JWT
JWT_SECRET=cambia-esto-por-un-string-aleatorio-de-64-caracteres-muy-seguro
JWT_REFRESH_SECRET=cambia-esto-por-otro-string-aleatorio-de-64-caracteres-seguro
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

# Email — usar Mailtrap para desarrollo
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=tu_usuario_mailtrap
SMTP_PASS=tu_password_mailtrap
EMAIL_FROM=GestorDoc <noreply@gestordoc.app>

# Rate limiting
THROTTLE_TTL=60000
THROTTLE_LIMIT=100
