# App
NODE_ENV=development
PORT=3000
FRONTEND_URL=http://localhost:5173

# Base de datos PostgreSQL
DATABASE_URL=postgresql://postgres.afrsxnvqunoovtdnhdjj:Pkxw2SCeNmuOVmZd@aws-1-us-west-2.pooler.supabase.com:6543/postgres?pgbouncer=true
DIRECT_URL=postgresql://postgres.afrsxnvqunoovtdnhdjj:Pkxw2SCeNmuOVmZd@aws-1-us-west-2.pooler.supabase.com:5432/postgres

# Redis
REDIS_URL=rediss://default:gQAAAAAAAXfoAAIncDI5OTdmMDdkMzcwYTA0NjlmYjRkODVkN2IzNGI2ZDg4ZXAyOTYyMzI@steady-killdeer-96232.upstash.io:6379

# Storage
STORAGE_PROVIDER=supabase
SUPABASE_URL=https://afrsxnvqunoovtdnhdjj.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFmcnN4bnZxdW5vb3Z0ZG5oZGpqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU4NjE3NzYsImV4cCI6MjA5MTQzNzc3Nn0.yHU0LKvFMtmuLGT4rJGzaW3KKhGtfC2bBkPIjn6NLt8
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFmcnN4bnZxdW5vb3Z0ZG5oZGpqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTg2MTc3NiwiZXhwIjoyMDkxNDM3Nzc2fQ.c6JnPG19_oqghuJhtE5-XeFJ6EhJfvE1iXvWKuqBRXw
SUPABASE_STORAGE_BUCKET=documents

# JWT
JWT_SECRET=46c8ed77779a0f8f57539f0e99b8ed056343e0e9802ca019e9fcf0d305ae0a71
JWT_REFRESH_SECRET=86a98d06260711cc7e297fff51dc2433de8efd7faf5ae1b780c831589a191202
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

# Email
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=GestorDoc <noreply@gestordoc.app>

# Rate limiting
THROTTLE_TTL=60000
THROTTLE_LIMIT=100
